@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>We are Restaurant Reviews and Raves.  Our mission is to connect users with reliable reviews, and to highlight great local food!</p>

<img src="~/Images/buffet-chicken-cooking-5938.jpg" class="img-fluid rounded m-2"/>