@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title Us!</h2>
<h3>Please let us know if you love our website, and spread the word!</h3>

<address>
    123 1st Street<br />
    Tampa, FL 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    555.321.0110
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@RRRaves.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@RRRaves.com</a>
</address>